!!! 5
%html
  %head
    %title HepBProject
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    - if flash[:error]
      %div#error-container
        -flash.each do |key, value|
          %div.alert.alert-danger
            %button.close{:type=>'button', 'data-dismiss'=>'alert'}
            = value
      #container
        = yield
    - else
      %div#flash-container
        -flash.each do |key, value|
          %div.alert.alert-danger
            %button.close{:type=>'button', 'data-dismiss'=>'alert'}
            = value
      #container
        = yield