%nav.navbar.navbar-default.navbar-fixed-top{:role => 'navigation'}
  %div.navbar-header
    %button{:type => 'button', :class => 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#navbar'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => members_dashboard_home_path} HepB Project

  %div.collapse.navbar-collapse{:id => 'navbar'}
    %ul.nav.navbar-nav
      %li
        %a{:href => members_dashboard_home_path}Dashboard
      %li
        %a{:href => events_index_path}Events
      %li
        %a{:href => members_announcements_path}Announcements
      %li
        %a{:href => members_stats_path}Stats
      - if current_member.is_admin
        %li
          %a{:href => settings_index_path}Admin

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
          Account
          %span.caret
        %ul.dropdown-menu{:role => 'menu'}
          %li 
            %a
              = current_member.first_name
              = current_member.last_name
          %li 
            %a
              = current_member.email
          %li
            = link_to "Change Settings", edit_member_registration_path
          %li
            = link_to "Logout", destroy_member_session_path, :method => :delete
