=render 'navbar'
/ center

-if @current_mem.is_admin 
  %button#newA.btn-primary{"data-target" => ".bs-example-modal-lg", "data-toggle" => "modal", :type => "button"} +Add Announcement

= form_tag do 
  .modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .col-md-16.col-md-16.col-md-16.col-sm-offset-2.col-md-offset-4
        .modal-content
          .modal-header
            %h4#exampleModalLabel.modal-title New Announcement
          .modal-body
            %form#myForm{:method => "post"}
              .form-group
                %label.control-label{:for => "Title"} Title:
                = text_field(:announ, :title, :class => 'form-control')
              .form-group
                %label.control-label{:for => "message-text"} Message:
                = text_area(:announ, :body, :class => 'form-control')
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
            = submit_tag("Create")



.col-sm-offset-3.col-sm-6
  %div.panel.panel-default
    %div.panel-heading
      %b All Announcements
    - @ordered_announcements.reverse.each do |this_announcement|
      %div.panel-body
        .row.centered-form
          .col-xs-12
            %h1= this_announcement.title
            -if !this_announcement.date_written.nil?
              %strong= this_announcement.date_written.strftime("%B, %d, %Y")
            %p= this_announcement.body
            %p.lead
              -if @current_mem.is_admin 
                = link_to 'Delete'.html_safe, delete_announcement_member_path(this_announcement), :method => :delete
                = link_to 'Edit'.html_safe, get_announcement_member_path(this_announcement), :method => :get
                -if this_announcement.pinned
                  = link_to 'Unpin', pin_announcement_member_path(this_announcement), :method => :post
                -else
                  = link_to 'Pin', pin_announcement_member_path(this_announcement), :method => :post



