- require 'active_support/core_ext'
= render 'navbar'

%div.col-lg-12
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-clock-o.fa-fw
        General Meeting
    %div.panel-body
      -if @general_meeting_block
        %p
          = @general_meeting_block.body
      -if @current_mem.is_admin 
        %button#newA.btn-primary{"data-target" => ".bs-example-modal-lg", "data-toggle" => "modal", :type => "button"} Edit

= form_tag do 
  .modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %h4#exampleModalLabel.modal-title General Announcement
        .modal-body
          %form#myForm{:method => "post"}
            .form-group
              %label.control-label{:for => "message-text"} Message:
              - if @general_meeting_block
                = text_area_tag 'messege', @general_meeting_block.body
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
          = submit_tag("Create")


%div.col-lg-8
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-clock-o.fa-fw
        Announcements
    %div.panel-body
      %table.table.table-striped.table-bordered
        %thead
          - @announcements.each do |announcement|
            %tr
              %h3= announcement.title
              %p
                = announcement.body
              %p.text-muted.small
                = announcement.date_written.strftime("%m/%d/%Y at %I:%M%p")
            %hr/
      %a.btn.btn-primary.btn-block{:href => members_announcements_path}
        View All Announcements

%div.col-lg-4
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-bell.fa-fw
        Upcoming Events
    %div.panel-body
      You are signed up for:
      %div.list-group
        - @events.each do |event|
          %a.list-group-item{:href => '#'}
            =event.event_name
            %span.pull-right.text-muted.small
              = time_ago_in_words(event.date) 
      %a.btn.btn-primary.btn-block{:href => events_index_path}
        View All Events
  
