- require 'active_support/core_ext'
= render 'navbar'

%div.col-lg-8
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-clock-o.fa-fw
        General Meeting
    %div.panel-body
      Hey everyone, our next meeting is on Monday at 5pm. We will be discussing awareness and outreach for the next week. Please make sure to do a bunch of Hep B volunteer work, because that's what we're all about. 

%div.col-lg-8
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-clock-o.fa-fw
        Announcements
    %div.panel-body
      %table.table.table-striped.table-bordered
        %thead
          - @announcements.each do |announcement|
            %tr
              %h3= announcement.title
              %p
                = announcement.body
              %p.text-muted.small
                = announcement.date_written.strftime("%m/%d/%Y at %I:%M%p")
            %hr/
      %a.btn.btn-primary.btn-block{:href => members_announcements_path}
        View All Announcements

%div.col-lg-4
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-bell.fa-fw
        Upcoming Events
    %div.panel-body
      You are signed up for:
      %div.list-group
        - @events.each do |event|
          %a.list-group-item{:href => '#'}
            =event.event_name
            %span.pull-right.text-muted.small
              = time_ago_in_words(event.date) 
      %a.btn.btn-primary.btn-block{:href => '#'}
        View All Events
  
