%div#title Log In

%div#login-form
  = form_tag members_login_index_path, :method => :post do
    %div#login-field
      = label :members, :email, 'Email'
      %br
      = text_field :members, 'email'

    %div#login-field
      = label :members, :password, 'Password'
      %br
      = text_field :members, 'password', :type => :password

    %div#login-submit
      = submit_tag 'Submit'
