.container
  .row.centered-form
    .col-xs-12.col-sm-8.col-md-4.col-sm-offset-2.col-md-offset-4
      .panel.panel-default
        .panel-heading
          %span.glyphicon.glyphicon-lock
            %b Login
        .panel-body
          = form_tag members_login_index_path, :method => :post, :class => 'form-horizontal'
          / Email
          = label :members, :email, 'Email'
          .form-group
            .col-md-12
              = text_field :members, 'email', :type => "email", :class =>"form-control input-sm"
          / Password
          = label :members, :password, 'Password'
          .form-group
            .col-md-12
              = text_field :members, 'password', :type => 'password', :class =>"form-control input-sm"
          / Submit Button
          .form-group.last
            .col-md-12
              = submit_tag 'Submit', :class => 'btn btn-primary btn-md btn-block'
          / Eno of Form
        .panel-footer
          Not yet signed up?
          \#{link_to("Sign up here.", members_sign_up_index_path)}
