%div#title Log In

%div#login-form
  = form_tag members_login_index_path, :method => :post do
    %div#login-field
      = label :member, :email, 'Email'
      %br
      = text_field :member, 'email'

    %div#login-field
      = label :member, :password, 'Password'
      %br
      = text_field :member, 'password', :type => :password

    %div#login-submit
      = submit_tag 'Submit'
