%h2 Log In

= form_tag members_login_index_path, :method => :post do
	%div
	= label :member, :email, 'Email'
	= text_field :member, 'email'

	%div
	= label :member, :password, 'Password'
	= text_field :member, 'password', :type => :password

	%div
	= submit_tag 'Submit'