= render "navbar", :handlers => [:haml]
.container
  .row.centered-form
    .col-xs-12.col-sm-8.col-md-4.col-sm-offset-2.col-md-offset-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Edit Information
        .panel-body
          = form_tag members_settings_index_path, :method => :post, :class => 'form-horizontal'
          .row
            / First Name
            .col-xs-6.col-sm-6.col-md-6
              = label :members, :first_name, 'First Name'
              .form-group
                = text_field :members ,'first_name', :value => @member.first_name, :class => "form-control input-sm"
            / Last Name
            .col-xs-6.col-sm-6.col-md-6
              = label :members, :last_name, 'Last Name'
              .form-group
                = text_field :members, 'last_name', :value => @member.last_name, :class => "form-control input-sm"
          / Email
          = label :members, :email, 'Email'
          .form-group
            = text_field :members, 'email', :value => @member.email, :class => "form-control input-sm", :type => "email"
          / Year
          = label :members, :grad_date, 'Graduation Date'
          .form-group
            = text_field :members, 'grad_date', :value => @member.grad_date.strftime("%m/%d/%Y"), :class => "form-control input-sm"
          / Phone
          = label :members, :phone, 'Phone'
          .form-group
            = text_field :members, 'phone', :value => @member.phone, :class => "form-control input-sm"
          .row
            / Password
            .col-xs-6.col-sm-6.col-md-6
              = label :members, :password, 'Password'
              .form-group
                = text_field :members, 'password', :value => @member.password, :class => "form-control input-sm", :type => "password"
            / Confirm Password
            .col-xs-6.col-sm-6.col-md-6
              = label :members, :confirm_password, 'Confirm Password'
              .form-group
                = text_field :members, 'confirm_password', :value => @member.password, :class => "form-control input-sm", :type => "password"
          %input.btn.btn-info.btn-block{:type => "submit", :value => "Update Information"}/
          / end of form
